@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&display=swap');

body {
    background-color: #ffffff;
    font-weight: lighter;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}

#navbar {
    color: #ff914d;
    background-color: #5e17eb;
    text-decoration: none;
    /*margin-left: 2rem;
    margin-right: 2rem;*/
}


ul {
    background-color: #5e17eb;
}

header{
  z-index: 1;
  opacity: 95%;
}

.fixed {
    position: fixed;
}

.containerheight{
    min-height: 375px;
}


.nav-link {
    color: #ffffff;
    background-color: #5e17eb;
    font-weight: bolder;
}

.heading {
    padding: 1rem;
    color: #ff914d;
    background-color: #5e17eb;
    font-weight: normal;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    width: 100%;
    text-align: center;
}


.postabstract{
    font-size: 18px;

}

.abstractarticle{
    font-size: 14px;

}

.hashtag{
    color: #ff914d;
    font-weight: bolder;
    font-size: 18px;
}

.postimage img{
    border-radius: 4%;
}

.header-banner {
    background-color: #5e17eb;
    /*padding: 2rem;*/
    padding-top: 0;
}

@media only screen and (max-width: 700px) { /*media query*/
  .header-height {
    margin-top: 200px;
  }
}

@media only screen and (min-width: 701px) {/*media query*/
  .header-height {
    margin-top: 400px;
  }
}



  @media only screen and (min-width: 701px) {/*media query*/
    .containerheight {
        min-height: 425px;
    }
  }

.section {
    padding: 2rem;
    color: #ff914d;
}

.postdate {
    color: #ff914d;
    font-weight: normal;
}

.postitle {
    color: #5e17eb;
    font-weight: normal;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
}

.postitlearticle {
    color: #5e17eb;
    font-weight: normal;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
    font-weight: normal;
    padding-bottom: 10px;
    font-size: 34px;
}

.sideimage img{
    width: 300px;
    opacity: 55%;
}

.aligntitleleft{

    justify-content: left;
}

.postauthor{
    font-size: 20px;
}

.footer {
    width: 100%;
    opacity: 90%;
}

.copyright {
    align-items: center;
}

b {
    display: flex;
    align-self: center;
    background-color: #5e17eb;
    color:#ffffff;
    justify-content: center;
    padding: 1rem;
}

svg {
    align-self: center;
}
